.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
  
  img {
    width: 10rem;
    margin-bottom: 2rem;
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #333;
  }